#about {
    display: flex;
    background-color: #202020;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
#link {
    width: 100%;
    margin-left: 50px;
    text-align: left;
    font-size: 15px;
    font-weight: 500px;
    color:#B5B5B5;
    transition: all 0.15s ease;
}

.info {
    display: block;
    height: 50%;
    text-align: left;
    margin-bottom: 10px;
    color:white;
    width:100%;
    text-align: justify;
    text-align-last: auto;
    overflow: hidden;
    position: relative;
    right:2.3%;
    
}
#name-link {
    color:#959CA1;
    text-decoration: none;
}
#name-link:hover {
    color:#4699EF;
}
#inline-link {
    color:#458CC7;
    text-decoration: none;
    transition: all 0.2s ease;
}

#inline-link:hover {
    color:#4699EF;
}
.name {
    margin-bottom: 10px;
    color:white;
    font-weight: 700;
    margin-top: 10px;

}

form {
    text-align: left;
}


.custom-background {
    background-color: #0e0e0e; /* Replace with your desired color code */
}


#test {
    
    min-width: 700px;
    max-width: 90%;
    margin: 0 auto;
    background-color: #24292d;
}