* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-repeat: no-repeat;
    background-image: url("cartoon.jpg");
    image-rendering: optimizeSpeed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#border {
    background-color: #0e0e0e;
    margin: 0;
    font-family: sans-serif;
  
}

#menu {
    display: flex;
    min-width: 60%;
    gap: 10px;
    padding: 4px; /* Значение полей */
}

#test {
    min-width: 400px;
    max-width: 90%;
    margin: 0 auto;
    background-color: #24292d;
    height: 100%;
}

#roll {
    display: flex;
    width:100%;
    height: auto;
    background-color: #1d354a;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
    padding: 35px 15px 15px 15px;
}



#logo {
    display: block;
    color:#458CC7;
    width: 20%;
    margin-left: 4%;
    margin-right: 4%;

}
#color {
    color:#959CA1;
}

.content {
    height: 100%;
    width: 14%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap; 
    
}
.content span {
    display: inline-block;
    color: #E4E4E4;
    font-size: 13.5px;
    text-align: center;
    height: 15%;
}
.roll-img {
    display: block;
    height: 85%;
    width: 100%;
    object-fit:fill;
    object-position: center;
    border-radius: 4px;
    margin-bottom: 7px;
    transition: all 0.2s ease;
}

span {
    display: inline-block;
    color: #E4E4E4;
    font-size: 15px;
    text-align: center;
}

h4{
    margin: 50px 0 50px 0;
    font-size: large;
}
main {
    background-color: #24292d;
    color:black;
    text-align: center;
    

}
.list {
    display: grid;
    gap: 10px;
    justify-content: center ;
    background-color: #24292d;
    grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
}

#roll-controller button {
    width: 37.5px;
    height: 30px;
    border: none;
    border-radius: 3px;
    margin: 7.5px 5px 0 0;
    text-align: center;
}
#control button {
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 4px;
    margin: 20px 5px 60px 0;
    text-align: center;
}

#place {
    margin-right: 15px;
}

.anime {
    width: 100%;
    height: 60px;
    margin: auto;
    background-color: #313639;
    border-radius: 5px;
    min-width: 300px;
    transition: all 0.2s ease;
}
.anime:hover {
    background-color: #4C4C4C;
}

.image {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: fill;
    border-radius: 5px;
    margin: 5px;
    margin-right: 5px;
    float: left;
}
.roll-img:hover {
    filter: brightness(115%);
    background: gray;
    transform:scale(1.015);
}
.title {
    display: block;
    width: 68.5%;
    text-align: left;
    position: relative;
    top: 12%;
    transition: all 0.15s ease;
    
}
.title:hover {
    color: #458CC7;
    cursor:default
}
.date {
    width: 68.5%;
    display: block;
    text-align: left;
    position: relative;
    top: 20%;
    color:#959CA1;
    font-weight: 600;
    font-size: 13.25px;
    
}
.series {
   width: 30%;
   display: block;
   text-align: right;
   position: relative;
   left: 70%;
   bottom: 25px;
   color:#4699EF;
   font-weight: 525;
    
}


#about {

    background-color: #202020;
    

    
}
#link {
    width: 100%;
    margin-left: 50px;
    text-align: left;
    font-size: 15px;
    font-weight: 500px;
    color:#B5B5B5;
    transition: all 0.15s ease;
}

.info {
    display: block;
    height: 50%;
    text-align: left;
    margin-bottom: 10px;
    color:white;
    width:100%;
    text-align: justify;
    text-align-last: auto;
    overflow: hidden;
    position: relative;
    right:2.3%;
    
}
#name-link {
    color:#959CA1;
    text-decoration: none;
}
#name-link:hover {
    color:#4699EF;
}
#inline-link {
    color:#458CC7;
    text-decoration: none;
    transition: all 0.2s ease;
}

#inline-link:hover {
    color:#4699EF;
}
.name {
    margin-bottom: 10px;
    color:white;
    font-weight: 700;
    margin-top: 10px;

}

footer {
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer-link:hover {
    color:#FCDC02;
}
.footer-link{
    color: #3273AB;
    text-decoration: none;
    font-weight: 525;
    transition: all 0.15s ease;
    
}
.footer-text {
    width: 100%;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
    color:#555555;
    margin-left: 10px;
}
.dropdown-menu {
    background-color:#24292d;
}
.dropdown-item {
    background-color: #263848;
    border-radius: 4px;
    color: #E4E4E4;
    transition:all 0.15s ease;
    display: inline-block;
}
.dropdown-item:hover {
    background-color:#263848;
    font-weight: 700;
}
.dropdown:hover {
    border-color: #4689C2;
}

form {
    text-align: left;
}


.custom-background {
    background-color: #0e0e0e; /* Replace with your desired color code */
}
.form1{
    width: 70%;
 display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  
}
.pole {
    display: block;
    width: 45%;
    height: 30px;
    border-radius: 4px;
}
.label {
    display: block;
    width:10%;
    font-weight: 800px;
}
#navigation {

    width: 30%;
    max-width:200px;
    height: 100%;
}








/* Remove default list-style and padding */
li {
    list-style: none !important;
    padding: 0 !important;
    color:white !important;
  }
  
  /* Style the dropdown items */
  .dropdown-item {
    display: block !important;
    padding: 0.5rem 1rem !important;
    text-decoration: none !important;
    color: #333 !important; /* Text color */
    background-color: #fff !important; /* Background color */
  }
  
  /* Style on hover and focus */
  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: #f0f0f0 !important; /* Hover/focus background color */
  }
  
  /* Style the button */
  .dropdown button {
    border: none !important;
    background-color: transparent !important;
    padding: 0.5rem 1rem !important;
    color: #333 !important; /* Button text color */
    border-radius: 0 !important;
  }
  
  /* Remove the default button focus outline */
  .dropdown button:focus {
    outline: none !important;
  }
  


