* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    background-repeat: no-repeat;
    background-image: url("cartoon.jpg");
    image-rendering: optimizeSpeed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.backgroundColor {
    background-color: #1e1e1e;
}
.container1 {
    width:100%;
    height: 500px;
    background-color: #1e1e1e;
}
.container {
    background-color: #1e1e1e !important;
    width: fit-content;
}


.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.7 !;
}
.carousel-caption {
    display: flex !important;
    bottom: 15% !important;
    right: 90% !important;
    width: 60% !important;
    flex-direction: column;
    justify-content: flex-start;

    
}
.carousel-caption .jenre {
    display: block;
    padding: 3px 5px; /* Adjust padding for more space */
    background-color: white !important;
    color: #1e1e1e !important;
    border-radius: 5px !important;
    opacity: 0.7;
    font-size: 1.3rem; /* Increase font size */
    width: 20%;
    font-size: 1.2rem;
    font-weight: 500 !important;
    margin-bottom: -0.5% !important;
}

.description {
    font-size: 2.1rem;
    font-style: italic;
    white-space: nowrap;
    width: 100%; /* Use 100% width for better adaptability */
    max-width: 18rem; /* Set a maximum width to avoid stretching on larger screens */
    height: auto; /* Allow the height to adjust based on content */
    text-align: left;
    display: block; /* Use block display for better responsiveness */
    margin-bottom: 5%; /* Adjust margin as needed */
}

.title {
    white-space: nowrap;
    text-align: left;
    font-size: 6rem; /* Increase font size */
    font-weight: 500;
    display: block; /* Use block display for better responsiveness */
    margin-bottom: 2%; /* Adjust margin as needed */
    padding: 5px 0; /* Adjust padding for more space */
}

.btn {
    width: 25%;
    padding: 1% 0 !important;
    font-weight: 500 !important;
    font-size: 2rem !important;
}

.box-cards {
    display: flex;
    justify-content: space-between;
    gap:5%;
    width: 100%;
    height: 100%;
    flex-direction: row;
    

}


.container-main {
    display: flex;
    width: 100%;
    background-color: #24292d;
    padding:10px;
    flex-direction: column;
    align-items: center;

}

.main-title {
    color:white;
    padding:2rem 0;
}




.main {
    background-color: white;
    padding: 1em;
    padding-bottom: 1.1em;
    border-radius: 15px;
    margin: 1em;
  }
  
  .loader {
    display: flex;
    flex-direction: row;
    height: 4em;
    padding-left: 1em;
    padding-right: 1em;
    transform: rotate(180deg);
    justify-content: right;
    border-radius: 10px;
    transition: .4s ease-in-out;
  }
  
  .loader:hover {
    cursor: pointer;
    background-color: lightgray;
  }
  
  .currentplaying {
    display: flex;
    margin: 1em;
  }
  
  .spotify {
    width: 50px;
    height: 50px;
    margin-right: 0.6em;
  }
  
  .heading {
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    align-self: center;
  }
  
  .loading {
    display: flex;
    margin-top: 1em;
    margin-left: 0.3em;
  }
  
  .load {
    width: 2px;
    height: 33px;
    background-color: limegreen;
    animation: 1s move6 infinite;
    border-radius: 5px;
    margin: 0.1em;
  }
  
  .load:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .load:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  .load:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  .play {
    position: relative;
    left: 0.35em;
    height: 1.6em;
    width: 1.6em;
    clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
    background-color: black;
    transform: rotate(-90deg);
    align-self: center;
    margin-top: 0.7em;
    justify-self: center;
  }
  
  .albumcover {
    position: relative;
    margin-right: 1em;
    height: 40px;
    width: 40px;
    background-color: rgb(233, 232, 232);
    align-self: center;
    border-radius: 5px;
  }
  
  .song {
    position: relative;
    transform: rotate(180deg);
    margin-right: 1em;
    color: black;
    align-self: center;
  }
  
  .artist {
    font-size: 0.6em;
  }
  
  @keyframes move6 {
    0% {
      height: 0.2em;
    }
  
    25% {
      height: 0.7em;
    }
  
    50% {
      height: 1.5em;
    }
  
    100% {
      height: 0.2em;
    }
  }

  footer {
    background-color: black;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:3% 0;
}
.footer-link:hover {
    color:#FCDC02;
}
.footer-link{
    color: #3273AB;
    text-decoration: none;
    font-weight: 525;
    transition: all 0.15s ease;
    
}
.footer-text {
    width: 90%;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
    color:#555555;
    
    margin:0.2% 0;
    margin-left: 10px;
}