* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    background-repeat: no-repeat;
    background-image: url("cartoon.jpg");
    image-rendering: optimizeSpeed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.backgroundColor {
    background-color: #1e1e1e;
}
.container1 {
    width:100%;
    height: 500px;
    background-color: #1e1e1e;
}
.container {
    background-color: #1e1e1e !important;
}


.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.7 !;
}
.carousel-caption {
    display: flex !important;
    bottom: 15% !important;
    right: 90% !important;
    width: 60% !important;
    flex-direction: column;
    justify-content: flex-start;

    
}
.carousel-caption .jenre {
    display: block;
    padding: 3px 5px; /* Adjust padding for more space */
    background-color: white !important;
    color: #1e1e1e !important;
    border-radius: 5px !important;
    opacity: 0.7;
    font-size: 1.3rem; /* Increase font size */
    width: 20%;
    font-size: 1.2rem;
    font-weight: 500 !important;
    margin-bottom: -0.5% !important;
}

.description {
    font-size: 2.1rem;
    font-style: italic;
    white-space: nowrap;
    width: 100%; /* Use 100% width for better adaptability */
    max-width: 18rem; /* Set a maximum width to avoid stretching on larger screens */
    height: auto; /* Allow the height to adjust based on content */
    text-align: left;
    display: block; /* Use block display for better responsiveness */
    margin-bottom: 5%; /* Adjust margin as needed */
}

.title {
    white-space: nowrap;
    text-align: left;
    font-size: 6rem; /* Increase font size */
    font-weight: 500;
    display: block; /* Use block display for better responsiveness */
    margin-bottom: 2%; /* Adjust margin as needed */
    padding: 5px 0; /* Adjust padding for more space */
}

.btn {
    width: 25%;
    padding: 1% 0 !important;
    font-weight: 500 !important;
    font-size: 2rem !important;
}
