body {
    background:#6b6b69;
    color:white;
  }
  
  .info {

    font-family:Arial;

    text-align:center;
    border-radius:5px;
    font-size:15px;
    background-color: white;
  
    color:black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 614px;
  }
  
  #title {
    font-size:20px;
  }
  
  #rest2 {
    font-size:13px;
  }
  
  #text div {
    position:relative;
    height: 180px;
    width: 180px;
    border: 1px dashed gray;
    display: inline-block;
    margin: 0;

  }
  
  #text {
    max-width:614px;
    max-height:614px;
    background-color: white;
    border:5px solid white;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow: scroll;
  }
  
  #images {
    width: 100%
    
  }
  
  img {
    height: 30%;
    width: 30%;
    max-width: 180px;
    max-height: 180px;
  }
  
  #drag4,
  #drag5,
  #drag6,
  #drag7,
  #drag8,
  #drag9,
  #drag10,
  #drag11,
  #drag12 {
    height: 100px;
    width: 100px;
    object-fit: cover;
    image-rendering: optimizeSpeed;
    background-size: cover;
    display: inline-block;
  }
  
  #drag4 {
    background-image: url("images/image_part_008.jpg");
  }
  
  #drag5 {
    background-image: url("images/image_part_001.jpg");
  }
  
  #drag6 {
    background-image: url("images/image_part_003.jpg");
  }
  
  #drag7 {
    background-image: url("images/image_part_005.jpg");
  }
  
  #drag8 {
    background-image: url("images/image_part_007.jpg");

  }
  
  #drag9 {
     background-image: url("images/image_part_002.jpg");
  }
  
  #drag10 {
    background-image: url("images/image_part_006.jpg");

}
  
  #drag11 {
    background-image: url("images/image_part_009.jpg");

}
  
  #drag12 {
    background-image: url("images/image_part_004.jpg");

  }
  .container1{
    width:100% !important;
    max-width: 614px !important;
    background-color: white !important;
    margin: 0 auto 0px !important;
    padding: 40px 30px 70px !important;
    border-radius: 10px !important;
    margin: 50px auto 50px !important;
  }

    

.app-container {
    display: flex;
    width: 100%;
 
    background-color: #24292d;
    padding:10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
 }
 #test {
    width: 90%;
    min-width: 50%;
    margin: 0 auto;
    padding-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24292d;
}


#hint, #sound, #quote{
  font-family:Arial;
  text-align:center;
  font-size:15px;
  background-color: white;
  color:black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 614px;
  transition: 0.3 ease;
  
}
#hint:hover, #sound:hover, #quote:hover {
  background-color: aliceblue;
}
#hint {
  margin-top:1%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom:#24292d solid 1px;
  border-width: 80%;
}
#quote {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top:#24292d solid 1px;
  border-width: 80%;
  margin-bottom:1%;
}
.form-container1 {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #24292d;
  padding:10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

button{
  border: none;
  background-color: inherit;
}

#musicName {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 12.5px;
  color: black;
  background-color: inherit;
  padding: 3px;
}